{{#if hidden}}
    <div class="index hidden">-1</div>
    <div class="param-name text hidden"></div>
    <div class="param-value text hidden"></div>
    <input class="param-name input"  placeholder="Имя" value="" />
    <input class="param-value input"  placeholder="Значение" value="" />
    {{#if_eq user.id profile.id}}
        {{>general-button img='img/edit.svg' alt='edit' blockClass='hidden' class='edit'}}
    {{/if_eq}}
    {{#if_eq user.id profile.id}}
        {{>general-button text='Сохранить' blockClass='' class='save btn' type='submit'}}
    {{/if_eq}}
    {{#if_eq user.id profile.id}}
        {{>general-button img='img/delete.svg' blockClass='' alt='delete' class='delete'}}
    {{/if_eq}}
{{else}}
    <div class="index hidden">{{info.index}}</div>
    <div class="param-name text">{{info.name}}</div>
    <div class="param-value text">{{info.value}}</div>
    <input class="param-name input" type="hidden" value="{{info.name}}" required />
    <input class="param-value input" type="hidden" value="{{info.value}}" required />
    {{#if_eq user.id profile.id}}
        {{>general-button img='img/edit.svg' alt='edit' class='edit'}}
    {{/if_eq}}
    {{#if_eq user.id profile.id}}
        {{>general-button text='Сохранить' blockClass='hidden' class='save btn' type='submit'}}
    {{/if_eq}}
    {{#if_eq user.id profile.id}}
        {{>general-button img='img/delete.svg' alt='delete' class='delete'}}
    {{/if_eq}}
{{/if}}
