<!-- htmllint attr-name-style="false" -->
<!-- htmllint attr-no-dup="false" -->
<input type="radio"
    {{bind-attr name="name:name"}}
    {{bind-attr id="id:id"}}
    {{bind-attr checked="checked:checked"}}
/>

<label
    {{bind-attr for="id:id"}}>
    <p>{{text}}</p>
</label>
