<!-- htmllint attr-bans="false" -->
<a class="quest-link" href="/quest/{{quest.id}}"></a>
{{#if_neq quest.progress undefined}}
    <div class="progressbar-wrapper">
        <div class="progressbar" style="height:{{quest.progress}}%"></div>
    </div>
    {{#if_eq quest.progress 100}}
        <div class="progressbar-label">Завершено</div>
    {{/if_eq}}
{{/if_neq}}
    {{#if quest.photos.length }}
        <img class="img-thumbnail" src="{{ quest.photos.0.url }}" alt="quest-cover"/>
    {{else}}
        <img class="img-thumbnail" src="img/nocover.jpg" alt="quest-cover"/>
    {{/if}}
<h4 class="text-center">{{quest.title}}</h4>
<div>
    likes: {{quest.likesCount}}
</div>
<div>
    rating: {{quest.rating}}
</div>

<div>
    author: <a href="/profile/{{quest.author.id}}">{{quest.author.name}}</a>
</div>

