<!-- htmllint attr-bans="false" -->
<a class="quest-link" href="/quests/{{quest.id}}"></a>
<div class="img-container">
    {{#if_neq quest.progress undefined}}
        <div class="progressbar-wrapper">
            <div class="progressbar" style="height:{{quest.progress}}%"></div>
            {{#if_eq quest.progress 100}}
                <div class="progressbar-label">
                    Завершено
                </div>
            {{/if_eq}}
        </div>
    {{/if_neq}}
    {{#if quest.photos.length }}
        <img class="img-thumbnail" src="{{ quest.photos.0.url }}" alt="quest-cover"/>
    {{else}}
        <img class="img-thumbnail" src="img/nocover.jpg" alt="quest-cover"/>
    {{/if}}
</div>
<h2 class="text-center">{{quest.title}}</h2>
<div class="quest-descr">
<div>
    Автор: <a href="/profile/{{quest.author.id}}">{{quest.author.name}}</a>
</div>
<div class="rating">
<div>
    ❤️ {{quest.likesCount}}
</div>
<div>
    📈 {{quest.rating}}
</div>
</div>
</div>
{{#if_eq quest.author.id user.id}}
    {{#if_eq quest.isPublished 0}}
        (Не опубликован)
    {{/if_eq}}
{{/if_eq}}
