<h2>{{quest.title}}</h2>
<section class="description-and-photos">
    <div class="description">
        {{quest.description}}
    </div>
    Автор: <a href="/profile/{{quest.author.id}}">{{quest.author.name}}</a>
    {{#if user}}
        {{#if iLikeIt}}
            {{#if quest.id }}
                <form method="get" action="{{quest.id}}/dislike">
                    {{>general-button text='Не нравится' type='submit' blockClass='dislike-btn'}}
                </form>
            {{/if}}
        {{else}}
            {{#if quest.id }}
                <form method="get" action="{{quest.id}}/like">
                    {{>general-button text='Нравится' type='submit' blockClass='like-btn'}}
                </form>
            {{/if}}
        {{/if}}
        {{#unless iAmAuthor}}
            {{#unless iAmParticipant}}
                {{>general-button text="добавить в 'Мои Квесты'" style='border'
                    href=(concat "/quests/" (concat quest.id '/participate'))}}
            {{/unless}}
        {{/unless}}
    {{else}}
        <h2>Для прохождения квеста вам необходимо авторизоваться</h2>

    {{/if}}
    {{#if iAmAuthor}}
        <h2>Автор квеста не может быть участником</h2>
    {{/if}}

    {{>photo-block}}
    {{#if quest.isPublished}}
        {{#if iAmAuthor}}
            <form method="post" action="{{quest.id}}/remove">
                {{>general-button text='Удалить' style='danger' type='submit' blockClass='remove-btn'}}
            </form>
        {{/if}}
    {{/if}}
</section>
