<h2>{{quest.title}}</h2>
<section class="description-and-photos">
    <div class="description">
        {{quest.description}}
    </div>
    Автор: <a href="/profile/{{quest.author.id}}">{{quest.author.name}}</a>

    {{#if user}}
        {{#unless iAmAuthor}}
            {{#unless iAmParticipant}}
                {{>general-button text="добавить в 'Мои Квесты'" style='border'
                    href=(concat "/quests/" (concat quest.id '/participate'))}}
            {{/unless}}
        {{/unless}}
    {{else}}
        <h2>Для прохождения квеста вам необходимо авторизоваться</h2>

    {{/if}}
    {{#if iAmAuthor}}
        <h2>Автор квеста не может быть участником</h2>
    {{/if}}

    {{>photo-block}}
</section>
