<!-- htmllint attr-name-style="false" -->
<!-- htmllint attr-no-dup="false" -->
{{#if label}}
    <label>{{label}}
{{/if}}

    <input type="text" class="form-control"
        {{bind-attr id="id:id"}}
        {{bind-attr value="value:value"}}
        {{bind-attr placeholder="placeholder:placeholder"}}
        {{bind-attr disabled="disabled:disabled"}}
        {{bind-attr onkeyup="onkeyup:onkeyup"}}
    />

{{#if label}}
    </label>
{{/if}}
