<!-- htmllint attr-name-style="false" -->
<!-- htmllint attr-no-dup="false" -->

<label class="btn {{#if style}}btn-{{style}}{{else}}btn-default{{/if}}">
    {{text}}
    <input type="radio" {{bind-attr name="name:name"}} {{bind-attr value="value:value"}}
        {{bind-attr checked="checked:checked"}}/>
</label>
