<!-- htmllint attr-name-style="false" -->
<!-- htmllint attr-no-dup="false" -->
{{#if label}}
    <label>{{label}}
{{/if}}
    <input type="number" class="form-control"
        {{bind-attr id="id:id"}}
        {{bind-attr value="value:value"}}
        {{bind-attr value="placeholder:placeholder"}}
        {{bind-attr disabled="disabled:disabled"}}
    />
{{#if label}}
    </label>
{{/if}}
