<!-- htmllint attr-name-style="false" -->
<!-- htmllint attr-no-dup="false" -->
<a class="btn {{#if style}}btn-{{style}}{{else}}btn-default{{/if}}"
    {{bind-attr href="href:href"}} onclick="{{onClick}}">{{text}}</a>
<!--styles:-->
<!--default-->
<!--primary-->
<!--success-->
<!--info-->
<!--warning-->
<!--danger-->
<!--link-->
