<!-- htmllint attr-name-style="false" -->
<!-- htmllint attr-no-dup="false" -->
{{#if_eq type "submit" }}
    <input type="submit"
        class="btn {{#if style}}btn-{{style}}{{else}}btn-default{{/if}}{{#if class}} {{class}}{{/if}}"
        value="{{text}}"/>
{{else}}
    <a class="btn {{#if style}}btn-{{style}}{{else}}btn-default{{/if}}{{#if class}} {{class}}{{/if}}"
        {{bind-attr href="href:href"}}>
        {{#if text}}
            {{text}}
        {{/if}}
        {{#if img}}
            <img src="{{img}}" {{bind-attr alt="alt:alt"}} />
        {{/if}}
    </a>
{{/if_eq}}
