<div class="{{#if style}}block-{{style}}{{else}}block-default{{/if}}">
    <span>№ позиции: <strong>{{number}}</strong></span>
    <a href="{{link}}"><strong>{{name}}</strong></a>
    <span>Рейтинг: <strong>{{rating}}</strong></span>
</div>
