<div class="position">
    <p>№ позиции: <strong>{{number}}</strong></p>
</div>
<div class="user-name">
   <a href="{{link}}"><strong>{{name}}</strong></a>
</div>
<div class="rating-info">
    <p>Рейтинг: <strong>{{rating}}</strong></p>
    <p>Количество пройденных: <strong>{{complite}}</strong></p>
    <p>Соотношение пройденные/непройденные: <strong>{{ratio}}</strong></p>
</div>
